<div class="page-header">
  <h1><a href="<%= @post.url %>"><%= @post.title %></a><br> <small>Submitted by <%= @post.user.email %></small></h1>
</div>


  <% if @post.user == current_user %>
    <div class="btn-group pull-right">
    <%= link_to posts_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
        Back
    <% end %>
    <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    </div>
  <% end %>

<dl class="dl-horizontal">
  <dt>Url:</dt>
  <dd><%= @post.url %></dd>

  <dt>Message:</dt>
  <dd><%= @post.message %></dd>

  <dt>Created:</dt>
  <dd><%= @post.created_at %></dd>

</dl>
