<!-- Renders Edit/Back Buttons if current user is author -->
<div class="btn-group pull-right">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
      Back
  <% end %>
  <% if @post.user == current_user %>
    <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
        Edit
    <% end %>
  <% end %>
</div>

<!-- Main link w/ title -->
<div class="page-header">
  <h1><a href="<%= @post.url %>"><%= @post.title %></a><br> <small>Submitted by <%= @post.user.first_name %> <%= @post.user.last_name %></small></h1>
  <br>

  <!-- Shows message -->
  <h3><small><%= @post.message %></small></h3>
  </div>

  <!-- Upvote/Downvote -->
    <div class="btn-group pull-right">
      <%= link_to like_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= @post.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        Downvote
        <%= @post.get_downvotes.size %>
      <% end %>
      </div>
<br>
  <!-- Comments -->
  <h3 class="comments_title">
  <%= @post.comments.count %> Comments
</h3>


  <div id="comments">
    <%= render :partial => @post.comments %>
  </div>
  <%= simple_form_for [@post, Comment.new]  do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
